body {
  font-family:calibri;
  background-color: #e2b2b2;
}

.page-header {
  background-color: #79CDCD;
}
/*I was trying to get a round profile pic but got an oval one instead :()*/
.page-header img {
  float: right;
  max-width: 50px;
  max-height: 50px;
  border-radius:50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding-right: 5px;
}
.c-1 {
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #D1EEEE	;
  height: auto;
  text-align:left;
}
.c-1 #sunset img {
  float:right;
  width:13%;
}

.c-2 {
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E0EEEE	;
  height: auto;
  text-align:left;
  /*width: 80%;*/
  height:auto;
}
.c-2 img {
  float:right;
  width: 13%;
}

.jumbotron {
  column-count: 3;
  /*margin: 10px 0 10px 0;*/
  /*padding-top: 1px;*/
  /*padding-bottom:5%;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  background-color:  #D1EEEE	;
  height: auto;
  text-align:left;
}
#project {
  float:left;
  width:20%;
}
.highlight {
  font-weight: bolder;
  font-family: sans-serif;
}
