body {
  font-family:calibri;
}
.container {
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #79CDCD;
  height: auto;
  text-align:left;
  color: white;
  font-size: 40px;
}
/*I was trying to get a round profile pic but got an oval one instead :()*/
.container img {
  float: right;
  max-width: 50px;
	max-height: 50px;
	border-radius:50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  padding-right: 5px;
}
.c-1 {
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #D1EEEE	;
  height: auto;
  text-align:left;
}
.c-1 #sunset img {
  float:right;
  width:13%;
}

.c-2 {
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E0EEEE	;
  height: auto;
  text-align:left;
}
.c-2 #ocean img {
  float:right;
  width:13%;
}

.c-3 {
  column-count: 3;
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #D1EEEE	;
  height: auto;
  text-align:left;
}
#project {
  float:left;
  width:20%;
}
.highlight {
  font-weight: bolder;
  font-family: sans-serif;
}
.btn {
  text-align: center;
}
